<!DOCTYPE html>
<html>
  <head>
    <title>웹 페이지 예제</title>
  </head>
  <body>
    <h1 style="text-align: center">큰 제목</h1>
    <div style="text-align: center">
      <button
        onclick="location.href='{% url 'story:story' %}'"
        style="font-size: 16px; padding: 10px 20px"
      >
        이야기 만들기
      </button>
      <span style="margin: 0 10px"></span>
      <!-- 간격을 나타내는 빈 요소 추가 -->
      <button
        onclick="location.href='{% url 'setting_persona:setting_persona' %}'"
        style="font-size: 16px; padding: 10px 20px"
      >
        페르소나 설정
      </button>
    </div>
  </body>
</html>
