@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "KyoboHand";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

canvas {
  border: 1px solid #d9dee3;
  border-radius: 0.5rem;
  display: block;
  margin: 10px;
}

.form-label {
  font-size: 1.2rem;
}
