{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>페르소나 설정 페이지</title>
    <style>
      body {
        font-family: Arial, sans-serif;

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      canvas {
        border: 1px solid black;
        display: block;
        margin: 10px auto;
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>페르소나 설정</h1>
      <canvas id="characterCanvas" width="400" height="400"></canvas>
      <div id="colorPickerContainer">
        <label for="colorPicker">색 선택:</label>
        <input type="color" id="colorPicker" value="#000000" />
      </div>
      <div id="toolsContainer">
        <button id="eraseButton">지우개</button>
        <button id="clearButton">그림 지우기</button>
      </div>
      <label for="characterName">캐릭터 이름:</label>
      <input type="text" id="characterName" />
      <br />
      <label for="ageSelect">나이:</label>
      <select id="ageSelect">
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <br />
      <label for="genderSelect">성별:</label>
      <select id="genderSelect">
        <option value="male">남</option>
        <option value="female">여</option>
      </select>
      <br />
      <label for="likes">좋아하는 것:</label>
      <input type="text" id="likes" />
      <br />
      <label for="dislikes">싫어하는 것:</label>
      <input type="text" id="dislikes" />
      <br />
      <button id="saveButton">저장</button>
    </div>
    <script src="{% static 'js/setting_persona_draw.js' %}"></script>
  </body>
</html>
